<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <!-- menu -->
    
    <div class="menu-container">
        <div class="menu-group">
            <button class="menu-task" type="button" id="button-task">Your Task</button>
            <button class="onPage menu-task" type="button" id="button-create">Create</button>
            <button class="menu-task" type="button" id="button-instruction">Instruction</button>
        </div>
    </div>
    <!-- =================== create page ============== -->
    <div class="create-containers position">
        <div class="create-container">
            <div class="create-quiz">
                <div class="group-btn">
                    <a href="../../index.html">
                        <button type="button" class="button-save button">Save</button>
                    </a>
                    <button type="button" class="button-concel button" onclick="concelTask()">concel</button>
                </div>
                <div class="title-quiz" onclick="showEditeTitle()">
                    <!-- <input type="text" id="title-quiz" class="title"  value="Quiz Title"> -->
                    <!-- <h2 class="quiz-title">Title Quiz</h2> -->
                </div>
                <div class="create-question">
                    <form action="">
                        <div class="quiz-question">
                            <input type="text" class="question" id="question" placeholder="Question">
                        </div>
                        <div class="answers-container">
                            <div class="left">
                                <div class="each-answer">
                                    <input type="radio" name="answer" class="type-of-input">
                                    <input type="text" class="answer-group" placeholder="Answer">
                                </div>
                                <div class="each-answer">
                                    <input type="radio" name="answer" class="type-of-input">
                                    <input type="text" class="answer-group" placeholder="Answer">
                                </div>
                                <div class="each-answer">
                                    <input type="radio" name="answer" class="type-of-input">
                                    <input type="text" class="answer-group" placeholder="Answer">
                                </div>
                                <div class="each-answer">
                                    <input type="radio" name="answer" class="type-of-input">
                                    <input type="text" class="answer-group" placeholder="Answer">
                                </div>
                                <button type="button" class="button-create" onclick="addQuestionToMongoDB()">Create</button>
                            </div>
                            <div class="right">
                                <div class="question-type">
                                    <select id="list" class="types" onclick="optionAnswers()">
                                        <option value="radio">Radio</option>
                                        <option value="checkbox">Checkbox</option>
                                    </select>
                                </div>
                                <div class="score">
                                    Score: <input type="number" class="scores-create" id="myScores" value="0">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="show-quizs"></div>
            </div>
        </div>
    </div>



    <div id="title-edite">
        <dialog open>
            <div class="title-content">
                <h1>TITLE QUIZ</h1>
                <div><input type="text" class="title-input" placeholder="Title"></div>
                <button type="button" class="button-edite-title" onclick="editeTitleToMongDB()">EDITE</button>
                <button type="button" class="button-add-title" onclick="addTitleToMongDB()">CREATE</button>
            </div>
        </dialog>
    </div>






    <div id="questions-edite" >
        <dialog open>
                    <div class="create-container">
                        <div class="create-quiz">
                            <div class="create-question">
                                <form action="">
                                    <div class="quiz-question">
                                        <input type="text" class="question question-edite" id="question" placeholder="Question">
                                    </div>
                                    <div class="answers-container">
                                        <div class="left left-edite">
                                            <div class="each-answer">
                                                <input type="radio" name="correction" class="type-of-input">
                                                <input type="text" class="answer-group answer-edite" placeholder="Answer">
                                            </div>
                                            <div class="each-answer">
                                                <input type="radio" name="correction" class="type-of-input">
                                                <input type="text" class="answer-group answer-edite" placeholder="Answer">
                                            </div>
                                            <div class="each-answer">
                                                <input type="radio" name="correction" class="type-of-input">
                                                <input type="text" class="answer-group answer-edite" placeholder="Answer">
                                            </div>
                                            <div class="each-answer">
                                                <input type="radio" name="correction" class="type-of-input">
                                                <input type="text" class="answer-group answer-edite" placeholder="Answer">
                                            </div>
                                            <button type="button" id="edite-question" class="button-create" onclick="editeQuestionInMongDB()">Update</button>
                                            <button type="button" class="button-concell" onclick="hideEditeQuestion()">Concel</button>
                                        </div>
                                        <div class="right">
                                            <div class="question-type">
                                                <select id="type-of-answer" class="types types-edite" onclick="modalOptionAnswers()">
                                                    <option value="radio">Radio</option>
                                                    <option value="checkbox">Checkbox</option>
                                                </select>
                                            </div>
                                            <div class="score">
                                                Score: <input type="number" class="scores-create scores-edite" id="myScores" value="0">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
        </dialog>
      </div>
  
    <script src="create.js"></script>
</body>
</html>