<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <!-- menu -->
    
    <div class="menu-container">
        <div class="menu-group">
            <button class="menu-task" type="button" id="button-task" onclick="concelTask()">Your Task</button>
            <button class="onPage menu-task" type="button" id="button-create">Create</button>
        </div>
    </div>
    <!-- =================== create quiz ============== -->
    <div class="create-containers position">
        <div class="create-container">
            <div class="create-quiz">
                <div class="group-btn">
                    <button type="button" class="button-save button" onclick="saveQuiz()">Save</button>
                    <button type="button" class="button-concel button" onclick="concelTask()">concel</button>
                    <button type="button" class="button-concell-edite-quiz button" onclick="concelTaskEdit()" style="display: none;">concel</button>
                </div>
                <div class="icon">
                    <i class="bi bi-three-dots" onclick="showEditeTitle()"></i>
                </div>
                <div class="title-quiz">

                </div>
                <div class="create-question">
                    <form action="" style="text-align: left;">
                        <div class="quiz-question">
                            <input type="text" class="question" id="question" placeholder="Question">
                        </div>
                        <small class="question-error"></small>
                        <div class="answers-container">
                            <div class="left">
                                <div class="each-answer">
                                    <input type="radio" name="answer" class="type-of-input">
                                    <input type="text" class="answer-group" placeholder="Answer">
                                    <small class="error-a1"></small>
                                </div>
                                <div class="each-answer">
                                    <input type="radio" name="answer" class="type-of-input">
                                    <input type="text" class="answer-group" placeholder="Answer">
                                    <small class="error-a2"></small>
                                </div>
                                <div class="each-answer">
                                    <input type="radio" name="answer" class="type-of-input">
                                    <input type="text" class="answer-group" placeholder="Answer">
                                    <small class="error-a3"></small>
                                </div>
                                <div class="each-answer">
                                    <input type="radio" name="answer" class="type-of-input">
                                    <input type="text" class="answer-group" placeholder="Answer">
                                    <small class="error-a4"></small>
                                </div>
                                <small class="no-answer"></small>
                                <br>
                                <button type="button" class="button-create" onclick="checkAllInput()">Create</button>
                            </div>
                            <div class="right">
                                <div class="question-type">
                                    <select id="list" class="types" onclick="optionAnswers()">
                                        <option value="radio">Radio</option>
                                        <option value="checkbox">Checkbox</option>
                                    </select>
                                </div>
                                <div class="score">
                                    Score: <input type="number" class="scores-create" id="myScores" value="0">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="show-quizs"></div>
            </div>
        </div>
    </div>


<!-- User for edit title quiz -->
    <div id="title-edite">
        <dialog open>
            <div class="title-content">
                <h1>TITLE QUIZ</h1>
                <div><input type="text" class="title-input" placeholder="Title"></div>
                <button type="button" class="button-edite-title" onclick="editeTitleToMongDB()">EDITE</button>
                <button type="button" class="button-add-title" onclick="addTitleToMongDB()">CREATE</button>
            </div>
        </dialog>
    </div>





<!-- use for edit question -->
    <div id="questions-edite" >
        <dialog open>
                    <div class="create-container">
                        <div class="create-quiz">
                            <div class="create-question">
                                <form action="">
                                    <div class="quiz-question">
                                        <input type="text" class="question question-edite" id="question" placeholder="Question">
                                    </div>
                                    <small class="question-edit-error"></small>
                                    <div class="answers-container">
                                        <div class="left left-edite">
                                            <div class="each-answer">
                                                <input type="radio" name="correction" class="type-of-input">
                                                <input type="text" class="answer-group answer-edite" placeholder="Answer">
                                                <small class="answer1-edit-error"></small>
                                            </div>
                                            <div class="each-answer">
                                                <input type="radio" name="correction" class="type-of-input">
                                                <input type="text" class="answer-group answer-edite" placeholder="Answer">
                                                <small class="answer2-edit-error"></small>
                                            </div>
                                            <div class="each-answer">
                                                <input type="radio" name="correction" class="type-of-input">
                                                <input type="text" class="answer-group answer-edite" placeholder="Answer">
                                                <small class="answer3-edit-error"></small>
                                            </div>
                                            <div class="each-answer">
                                                <input type="radio" name="correction" class="type-of-input">
                                                <input type="text" class="answer-group answer-edite" placeholder="Answer">
                                                <small class="answer4-edit-error"></small>
                                            </div>
                                            <small class="no-edit-answer"></small>
                                            <button type="button" id="edite-question" class="button-create" onclick="checkAllEditInput()">Update</button>
                                            <button type="button" class="button-concell" onclick="hideEditeQuestion()">Concel</button>
                                        </div>
                                        <div class="right">
                                            <div class="question-type">
                                                <select id="type-of-answer" class="types types-edite" onclick="modalOptionAnswers()">
                                                    <option value="radio">Radio</option>
                                                    <option value="checkbox">Checkbox</option>
                                                </select>
                                            </div>
                                            <div class="score">
                                                Score: <input type="number" class="scores-create scores-edite" id="myScores" value="0">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
        </dialog>
      </div>
  
    <script src="create.js"></script>
</body>
</html>